.card {
    text-align: center;
    margin: 3%;
    padding: 2%;
    box-shadow: 0 4px 35px rgb(227, 219, 219);
    background-color: #fff;
}

.table th, .table td {
    padding: 1.5%;
    text-align: center;
}

.add-button, .edit-button, .delete-button {
    padding: 8px;
    margin-right: 1%;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
}

.add-button {
    background-color: #3498db;
}

.edit-button {
    background-color: #3498db;
}

.delete-button {
    background-color: #dc3545;
}

p {
    margin: 1% 0;
    color: #555;
}

@media screen and (max-width: 600px) {
    .card {
        margin: 2%;
        padding: 2%;
    }

    .table th, .table td {
        padding: 1%;
    }

    .add-button, .edit-button, .delete-button {
        padding: 0.5% 1%;
    }
}