.register-card {
    width: 500px;
  }
  
  .wrap {
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  }

  .btn {
    background-color: #3498db;
    color: white;
    display: block;
    margin: auto; 
    width: 50%;
  }
  
  @media only screen and (max-width: 768px){
  
  .register-card {
    width: 400px;
  }
  }