<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand">FLEXI-LISTS</a>
        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngIf="!this.accountService.isAuthenticated()">
                    <a class="nav-link" routerLink="/register" routerLinkActive="active">Register</a>
                </li>
                <li class="nav-item" *ngIf="!this.accountService.isAuthenticated()">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>
                <li class="nav-item" *ngIf="this.accountService.isAuthenticated()">
                    <a class="nav-link" routerLink="items" routerLinkActive="active">ListaProdotti</a>
                </li>
                <li class="nav-item" *ngIf="this.accountService.isAuthenticated()">
                    <a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>



